.place__image {
    grid-column: 1;
    grid-row: 3 / 5;
    height: 460px;
    width: 460px;
}
@media screen and (min-width: 1024px) and (max-width: 1277px) {
    .place__image {
        height: 440px;
        width: 440px;  
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__image {
        height: 340px;
        width: 340px;        
    }  
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .place__image {
        height: 320px;
        width: 320px;
        order: 3;
        margin: 32px 0 0 0;
    }
}