.lead {
    margin: 56px auto 0;
    display: grid;
    grid-template-columns: 1fr minmax(min-content, 984px) 1fr;
    justify-content: center;
    grid-template-rows: repeat(autofit, minmax(min-contetn, max-content));
}
@media screen and (min-width: 1024px) and (max: 1279px) {
    .lead {
        grid-template-columns: 1fr minmax(min-content, 928px) 1fr;
        grid-template-rows: minmax(0, max-content) minmax(0, max-content) minmax(min-content, 580px) minmax(0, max-content);
    }
    
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead {
        grid-template-rows: minmax(0, max-content) minmax(0, max-content) minmax(min-content, 480px) minmax(0, max-content);
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .lead {
        margin: 40px auto 0;
        grid-template-rows: minmax(0, max-content) minmax(0, max-content) minmax(min-content, 200px) minmax(0, max-content);
    }
}
