@font-face {
    font-family: "Arial";
    font-family: "Inter";
    font-weight: 900;
    font-style: normal;
    src: url(../fonts/Inter-Black.woff2), url(../fonts/Inter-Black.woff);
    font-display: swap;
}
@font-face {
    font-family: "Arial";
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/Inter-Bold.woff2), url(../fonts/Inter-Bold.woff);
    font-display: swap;
}
@font-face {
    font-family: "Arial";
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Inter-Regular.woff2), url(../fonts/Inter-Regular.woff);
    font-display: swap;
}