.cover__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    max-width: 360px;
    margin: 32px auto 0;
    z-index: 2;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .cover__text {
        font-size: 14px;
        line-height: 16px;
        max-width: 288px;
        margin: 16px auto 0;
    }  
}