.lead__subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFF;
    max-width: 640px;
    margin: 32px 0 0 0;
    grid-column: 2;
    justify-self: center;
    max-height: 100%;
}