.place__link {
   font-size: 18px;
   line-height: 22px;
   color: #fff;
   font-weight: 400;
   grid-column: 2;
   grid-row: 1;
   align-self: end;
}
.place__link:hover {
   opacity: 0.8;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
   .place__link {
      order: 2;
      margin: 12px 0 0 16px;
      align-self: start;
   } 
}